In [1]:
import pandas as pd

## Задание 1

In [2]:
ratings = pd.read_csv('rating.csv')
movies = pd.read_csv('movie.csv')

In [3]:
def class_rating(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [4]:
movies_ratings = ratings.groupby('movieId').agg({'rating':'mean'}).merge(movies, on = 'movieId', how = 'inner')
movies_ratings['clss'] = movies_ratings['rating'].apply(class_rating)

movies_ratings.head(5)

,movieId,rating,title,genres,clss
0,1,3.872470,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,2,3.401869,Jumanji (1995),Adventure|Children|Fantasy,средний рейтинг
2,3,3.161017,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
3,4,2.384615,Waiting to Exhale (1995),Comedy|Drama|Romance,средний рейтинг
4,5,3.267857,Father of the Bride Part II (1995),Comedy,средний рейтинг

## Задание 2

In [5]:
keywords = pd.read_csv('keyword.csv')

In [6]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [7]:
def class_geo(keyword):
    for region, cities in geo_data.items():
        for city in cities:
            if city in keyword:
                return region
    else:
        return 'undefined'

In [8]:
keywords['region'] = keywords['keyword'].apply(class_geo)
keywords.head(5)

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

## Задание 3

In [9]:
ratings = pd.read_csv('rating.csv')
movies = pd.read_csv('movie.csv')

In [10]:
years = list(range(1900, 2021, 1))

In [11]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    else:
        return 1900

In [12]:
movies['year'] = movies['title'].apply(production_year)

movies.merge(ratings, on = 'movieId', how = 'inner').groupby('year').agg({'rating': 'mean'}).sort_values('rating', ascending = False).head(5)

        rating
year
1921  4.416667
1902  4.333333
1928  4.261905
1917  4.250000
1918  4.250000