In [1]:
import pandas as pd

## Задание 1

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

ratings_five = ratings[ratings['rating'] == 5]

In [3]:
merge_ = pd.merge(movies, ratings[ratings['rating'] == 5], how = 'inner')

In [4]:
merge_['title'].value_counts()[0:1]

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

## Задание 2

In [8]:
power = pd.read_csv('power.csv')

countries = ['Latvia', 'Lithuania', 'Estonia']
categories = ['4', '12', '21']

power.loc[power['country'].isin(countries) & power['category'].isin(categories) & power['year'].between(2005, 2010)]

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[411 rows x 4 columns]

## Задание 3

In [7]:
html = pd.read_html('https://fortrader.org/quotes', encoding = "utf-8")[0]

html['Название'] = html['Название'].str[:6]
html.drop('Обновлено', axis = 1)

  Название   Цена  Изменение  Изменение(%)
0   EURRUB  83.19       0.02          0.02
1   USDRUB  73.60       0.03          0.04